* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: row;
}

#grid {
    display: flex;
    flex-direction: row;
}

.cell {
    background-color: bisque;
    border: 1px solid tan;
    flex-shrink: 0;
    /* width: 60px;
    height: 60px; */
}

.active {
    background-color: black;
}

.pagetitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;

}

button {
    padding: 10px;
    margin: 10px 10px 30px 10px;
}